<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список Организаций</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<a href="/">Список Организаций</a> <a href="/ot">Дерево Организаций</a> <a href="/sl">Список Сотрудников</a> <a href="/st">Дерево Сотрудников</a>
<table cellspacing="0" cellpadding="0">
    <tr>
        <td colspan="2">
            <h3>Список Организаций</h3>
        </td>
    </tr>
    <tr>
        <td>
            <div id="orglist"></div>
        </td>
    </tr>
    <script src="js/orglist.js"></script>
</table>
</body>
</html>