<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дерево Сотрудников</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<a href="/">Список Организаций</a> <a href="/ot">Дерево Организаций</a> <a href="/sl">Список Сотрудников</a> <a href="/st">Дерево Сотрудников</a>
<h3>Дерево Сотрудников</h3>
<div id="stafftree"></div>
<script src="js/stafftree.js"></script>
</body>
</html>